[*.cs]

# CA1303: Не передавать литералы в качестве локализованных параметров
# Для исправления нужны будут файлы локализованых ресурсов. Пока это делать не нужно.
dotnet_diagnostic.CA1303.severity = none

